.hero {
  background-color: var(--section-bg);
  color: var(--text-color);
  text-align: center;
  padding: 40px 20px;
  transition: background-color 0.3s ease;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
}
.hero {
  padding-top: 100px;
}
